@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
* {
  font-family: "Lato", sans-serif; }

.fixed {
  position: fixed;
  z-index: 1000; }

.bottom {
  bottom: 10%; }

.left {
  left: 5%; }

body {
  background-color: #fbfbfb;
  margin: 0px auto;
  overflow-x: hidden; }

section {
  padding: 100px 0; }

a {
  text-decoration: none;
  font-weight: bold; }

.headding {
  font-size: 28px;
  color: #333;
  font-weight: 600; }

.highlights {
  color: #304ee5; }

h1 {
  font-family: sans-serif;
  font-size: 35px;
  font-weight: 600; }

h2 {
  font-size: 28px;
  font-weight: 600; }

p {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: #777; }

li {
  text-decoration: none;
  list-style: none;
  padding: 4px 0; }

.fg-color-neon-blue {
  color: #2550fc; }

.fg-color-neon-green {
  color: #25fcc3; }

.fg-color-neon-pink {
  color: #fc2589; }

.text-bold {
  font-weight: 700; }

.red {
  background-color: #f43552; }

.yellow {
  background-color: #215632; }

.primary-btn {
  width: 150px;
  height: 60px;
  border-radius: 3px;
  background-color: #304ee5;
  color: #fbfbfb;
  font-family: sans-serif;
  border: none;
  box-shadow: 1px 2px 2px #aaa;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer; }

#section-view1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 5px;
  background-color: #fbfbfb; }
  #section-view1 #view1-main-text-container {
    grid-column: 1;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px; }
  #section-view1 #view1-main-icon-container {
    grid-column: 2;
    background-color: inherit;
    background-image: url("assets/illustration-tm-main.svg");
    background-position: center center;
    background-size: 200px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #section-view1 #view1-illustration {
    transform: scale(0.4);
    position: relative;
    margin-top: -150px; }
  #section-view1 #view1-m-headding {
    max-width: 380px;
    min-width: 300px;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #161c3f; }
  #section-view1 #view1-m-desc {
    padding: 10px;
    min-width: 300px;
    max-width: 380px;
    line-height: 25px;
    margin-top: -20px; }
  #section-view1 #view1-m-btn {
    padding: 10px;
    margin-left: -200px; }

#section-view2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 500px 1fr;
  grid-gap: 3px;
  background-color: inherit; }
  #section-view2 #sec-v2-desc {
    margin-left: -200px;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    padding: 20px; }
    #section-view2 #sec-v2-desc hgroup {
      display: flex;
      flex-direction: column;
      max-width: 330px;
      padding: 20px; }
  #section-view2 #sec-v2-img {
    grid-column: 3/5;
    height: 100%;
    background-image: url("assets/people.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center center; }

#feature-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  grid-row: 2/3;
  grid-column: 1/5; }
  #feature-items #feature-list {
    padding: 20px;
    min-width: 210px;
    max-width: 260px;
    display: flex;
    flex-direction: column; }

#section-view3 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 500px; }
  #section-view3 #pricing-container {
    grid-column: 2;
    display: grid;
    grid-template-columns: 200px 700px;
    position: relative;
    left: -200px; }
    #section-view3 #pricing-container #pricing-inner-elements {
      grid-column: 2;
      display: flex;
      flex-direction: column; }
      #section-view3 #pricing-container #pricing-inner-elements h1 {
        width: 500px; }
      #section-view3 #pricing-container #pricing-inner-elements #pricing-desc-text {
        width: 500px; }
      #section-view3 #pricing-container #pricing-inner-elements #pricing-cat-box {
        width: 500px;
        height: 200px;
        display: flex;
        flex-direction: row; }
        #section-view3 #pricing-container #pricing-inner-elements #pricing-cat-box .pricing-plan {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column; }
          #section-view3 #pricing-container #pricing-inner-elements #pricing-cat-box .pricing-plan ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-left: -40px; }

#section-view4 {
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 500px;
  grid-gap: 3px;
  background-color: inherit; }
  #section-view4 #mail_container {
    grid-column: 2;
    display: flex;
    flex-direction: row; }
    #section-view4 #mail_container #mail-illustration-container {
      width: 450px;
      height: 600px; }
      #section-view4 #mail_container #mail-illustration-container #mailbox-draw {
        transform: scale(0.5);
        position: relative;
        left: -250px; }
    #section-view4 #mail_container #signup-container {
      width: 450px;
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    #section-view4 #mail_container #email-signup-cont {
      display: flex;
      flex-direction: row;
      margin: 5px; }

#mail_field {
  width: 250px;
  height: 55px;
  padding: 2px 7px;
  box-shadow: 2px 3px 6px #ccc;
  border-radius: 7px;
  background-color: #fafafa;
  border: none;
  margin-right: 5px; }

/*# sourceMappingURL=page_style.css.map */
